@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }

  @font-face {
    font-family: "San Francisco Bold";
    font-weight: 900;
    src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff)
  }

  body {
    @apply bg-mono-900 dark:bg-mono-50 text-mono-50 dark:text-mono-900 min-w-[450px];
  }

  h1, h2, h3 {
    @apply leading-tight font-bold text-rising-700 dark:text-rising-600;
  }

  h1 {
    @apply text-3xl mt-6 mb-6 md:mt-12;
  }

  h2 {
    @apply text-2xl mt-6 mb-4 md:mt-8;
  }

  h3 {
    @apply text-xl mt-6 mb-4;
  }

  p {
    @apply leading-tight my-6;
  }

  a {
    @apply text-rising-600 dark:text-rising-500 underline;
  }

  a:visited {
    @apply text-rising-900 dark:text-rising-200;
  }

  table {
    @apply my-4;
  }

  thead {
    @apply bg-mono-800 dark:bg-mono-100 text-rising-700 dark:text-rising-600;
  }

  th, td {
    @apply px-4 py-1 border-2;
  }

  th {
    @apply  border-mono-900 dark:border-mono-50
  }

  td {
    @apply border-mono-800 dark:border-mono-100 ;
  }

  th:not(:first-child), td:not(:first-child) {
    @apply text-right;
  }
}
